
<mat-card>
  <div class="cabecalho">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <div class="text-inside-grid"><h2>ALBUNS</h2></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="button-inside-grid">
          <button mat-stroked-button color="primary" routerLink="/blog/novo-albuns">Novo Album</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-toolbar color="primary">Albuns</mat-toolbar>
  <div *ngIf="albuns$ | async as albuns; else loading">
    <table mat-table [dataSource]="albuns" class="mat-elevation-z8">

    <!-- Position id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{ element.userId }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-fab color="primary" [routerLink]="['/blog/atualizar-albuns', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="confirmarAcao(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

</ng-template>
</mat-card>



